---
import Layout from '@/layouts/mockups/portfolio/diana-squire/LayoutPortfolio.astro'
import DianaAboutMe from '@/assets/mockups/portfolio/diana-squire/diana-about.png'
import { Picture } from 'astro:assets'

const path = '/freelancer/mockup/portfolio/diana-squire/'
---

<Layout title="Sobre mi">
  <div
    class="relative bg-c-gradient-1 bg-radial-[at_0%_0%] from-c-aquagreen-950/20 from-10% via-c-gradient-1 via-20% to-c-gradient-2/70 to-70%"
  >
    <div
      class="relative lg:h-screen px-4 lg:px-0 max-w-6xl mx-auto overflow-hidden"
    >
      <div class="grid grid-cols-1 lg:grid-cols-2 pt-10 h-full">
        <!-- Texto -->
        <div
          class="space-y-6 text-lg text-slate-300 font-sora leading-relaxed h-full flex flex-col justify-center"
        >
          <h1 class="text-6xl font-bold text-slate-100 font-dm-serif">
            Sobre mi <span class="sr-only">Diana Squire</span>
          </h1>
          <p>
            Soy <strong class="text-c-aquagreen-500">Diana Squire</strong>,
            especialista en marketing digital con más de 4 años de experiencia
            en la industria. Me apasiona crear estrategias que conecten marcas
            con personas reales.
          </p>
          <p>
            A lo largo de mi carrera he trabajado con emprendedores, startups y
            empresas consolidadas, siempre buscando el equilibrio entre
            <strong>creatividad y análisis de datos</strong>.
          </p>
          <p>
            Mi filosofía de trabajo se basa en escuchar, entender y diseñar
            soluciones digitales que potencien la identidad de cada proyecto.
            Más que vender, busco <strong
              >generar confianza y relaciones duraderas</strong
            >.
          </p>

          <a
            href={path + 'contact'}
            class="block bg-c-aquagreen-600 text-slate-100 px-6 py-2 rounded-full font-semibold hover:bg-c-aquagreen-500 transition w-fit"
          >
            Hablemos
          </a>
        </div>

        <!-- Imagen -->
        <div class="flex justify-center items-end">
          <Picture
            src={DianaAboutMe}
            alt="Retrato de Diana Squire"
            class="w-full h-160 object-cover object-center"
            formats={['avif', 'webp']}
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
