---
import Presentation from '@/components/freelancer/Presentation.astro'
import Layout from '@/layouts/Layout.astro'
import TitleSection from '@/components/ui/TitleSection.astro'
---

<Layout
  hidden={false}
  titleSlug="Freelancer"
  title_main_card="Freelancer Especializado en SEO"
>
  <Presentation />

  <section class="reveal section">
    <TitleSection>Layouts que creé</TitleSection>

    <div class="grid gird-cols-1 md:grid-cols-2 gap-10">
      <article
        class="shadow-lg shadow-black/80 rounded-2xl overflow-hidden group"
      >
        <a
          class="flex flex-col w-full h-64 2xl:h-80 bg-gray-card cursor-pointer overflow-hidden"
          href={``}
        >
          <div class="h-2/3 overflow-hidden">
            <img
              loading="lazy"
              decoding="async"
              class="block w-full h-full object-cover object-center group-hover:scale-125 transform will-change-transform transition-all duration-500"
              src={'/projects/zniply-1.webp'}
              alt={`Layout `}
            />
          </div>
          <div class="px-4 h-1/3 flex flex-col justify-center text-white">
            <h2
              class="font-semibold text-xl 2xl:text-3xl group-hover:text-fuchsia-500 transition-colors duration-300"
            >
              {'Zniply'}
            </h2>
            <p class="line-clamp-1 text-sm 2xl:text-lg font-light">
              {'Descripción del proyecto'}
            </p>
          </div>
        </a>
      </article>

      <article
        class="shadow-lg shadow-black/80 rounded-2xl overflow-hidden group"
      >
        <a
          class="flex flex-col w-full h-64 2xl:h-80 bg-gray-card cursor-pointer overflow-hidden"
          href={``}
        >
          <div class="h-2/3 overflow-hidden">
            <img
              loading="lazy"
              decoding="async"
              class="block w-full h-full object-cover object-center group-hover:scale-125 transform will-change-transform transition-all duration-500"
              src={'/projects/up-task-1.webp'}
              alt={`Layout `}
            />
          </div>
          <div class="px-4 h-1/3 flex flex-col justify-center text-white">
            <h2
              class="font-semibold text-xl 2xl:text-3xl group-hover:text-fuchsia-500 transition-colors duration-300"
            >
              {'UpTask'}
            </h2>
            <p class="line-clamp-1 text-sm 2xl:text-lg font-light">
              {'Descripción del proyecto'}
            </p>
          </div>
        </a>
      </article>
    </div>
  </section>
</Layout>
