---
import ContactButton from '@/components/ui/ContactButton.astro'
import HeroTitle from '@/components/ui/HeroTitle.astro'
import DivTextContainer from '@/components/ui/DivTextContainer.astro'
import ProjectsDone from '@/components/portfolio/ProjectsDone.astro'
import TechnologiesIUse from './TechnologiesIUse.astro'

interface Props {
  t: {
    'presentation-1': string
    'presentation-2': string
    'presentation-3': string
    'projects-done': string
    'projects-done-description': string
    'contact-pre-button': string
    'main-title-white': string
    'main-title-color': string
  }
  tUi: { 'contact-button': string }
}

const { t, tUi } = Astro.props
---

<div
  class="min-h-[95vh] lg:min-h-[90vh] flex flex-col gap-3 md:gap-6 lg:gap-0 lg:justify-evenly"
>
  <HeroTitle
    colorlessText={t['main-title-white']}
    coloredText={t['main-title-color']}
  />

  <DivTextContainer>
    <p set:html={t['presentation-1']} />
    <p set:html={t['presentation-2']} />
    <p set:html={t['presentation-3']} />
  </DivTextContainer>

  <ProjectsDone t={t} />

  <TechnologiesIUse />

  <div class="space-y-5 md:space-y-6 lg:space-y-5">
    <p
      class="text-lg md:text-2xl lg:text-lg 2xl:text-2xl font-light text-pretty space-y-0.5"
    >
      {t['contact-pre-button']}
    </p>
    <ContactButton url="#contact" class="w-full md:w-max">
      {tUi['contact-button']}
    </ContactButton>
  </div>
</div>
