---
import ProjectItem from '@/components/portfolio/ProjectItem.astro'
import projects, { type IProject } from '@/data/projects'
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-10">
  {projects.map((project: IProject) => <ProjectItem project={project} />)}
</div>
