---
import SlideBar from '@/components/ui/SlideBar.astro'
---

<div class="space-y-3 md:space-y-6 lg:space-y-3 2xl:space-y-6 overflow-hidden">
  <h2 class="text-xl md:text-4xl lg:text-xl 2xl:text-5xl font-medium">
    Tecnologías que uso:
  </h2>
  <SlideBar />
</div>
