---
import Layout from '@/layouts/Layout.astro'
import Presentation from '@/components/portfolio/Presentation.astro'
import Projects from '@/components/portfolio/Projects.astro'
import Experience from '@/components/portfolio/Experience.astro'
import Contact from '@/components/portfolio/Contact.jsx'
import TitleSection from '@/components/ui/TitleSection.astro'
---

<Layout
  hidden={false}
  titleSlug="Full Stack Developer"
  title_main_card="Desarrollador Web FullStack"
>
  <section class="section reveal">
    <Presentation />
  </section>

  <section id="projects" class="section reveal min-h-screen">
    <TitleSection>Proyectos</TitleSection>
    <Projects />
  </section>

  <section
    id="experience"
    class="section reveal flex flex-col justify-center lg:gap-10"
  >
    <TitleSection>Experiencia en otro rubro</TitleSection>
    <Experience />
  </section>

  <section id="contact" class="section reveal">
    <TitleSection>Contacto</TitleSection>
    <Contact client:visible />
  </section>
</Layout>
