---
import ServiceCard from '@/components/mockups/freelancer/diana-squire/ServiceCard.astro'
import { services } from '@/data/mockups/portfolio/diana-squire/index.ts'
---

<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
  {services.map((service) => <ServiceCard service={service} />)}
</div>
