---
import Services from '@/components/mockups/freelancer/diana-squire/Services.astro'
---

<section class="py-20 bg-c-aquagreen-950 text-slate-100">
  <div class="max-w-6xl mx-auto space-y-10">
    <h2 class="space-y-6">
      <span
        class="text-slate-400 flex items-center letter-spacing-2 gap-4 font-medium uppercase"
      >
        Mis servicios
        <div class="w-24 border-b border-slate-400 inline-block"></div>
      </span>
      <span class="block font-dm-serif font-bold text-5xl text-slate-100"
        >Especializada en</span
      >
    </h2>

    <Services />
  </div>
</section>
