---
  const classParams = Astro.props.class
---

<div class={`${classParams} "text-md"`}>
  <button type="button" class="px-8 py-3 bg-purple-500 hover:bg-purple-600 transition-colors cursor-pointer rounded-lg font-medium">
    <a href="#">Contactame</a>
  </button>
</div>