---
const classParams = Astro.props.class
const { url } = Astro.props as { url: string }
---

<div class={`${classParams}`}>
  <button
    type="button"
    class="w-full px-8 py-3 bg-purple-600 hover:bg-purple-700 transition-colors cursor-pointer rounded-lg font-medium"
  >
    <a href={url} class="text-md md:text-xl lg:text-md 2xl:text-3xl"
      >Contactame</a
    >
  </button>
</div>
