---
const classParams = Astro.props.class
---

<div class={`${classParams} "text-md"`}>
  <button
    type="button"
    class="w-full px-8 py-3 bg-purple-600 hover:bg-purple-700 transition-colors cursor-pointer rounded-lg font-medium"
  >
    <a href="#contact">Contactame</a>
  </button>
</div>
