---
import TitleSection from "./TitleSection";

  const experiences = [
    {
      job: "Oficial carpintero a cargo ",
      plate: "Muebles Galiottiz",
      description: "Durante cinco años lideré el área de carpintería en un taller dedicado al diseño y fabricación de muebles a medida.",
      learnings: [
        "Aprendí a liderar equipos porque tenía que coordinar el trabajo de varias personas para cumplir con los pedidos a tiempo.",
        "Desarrollé habilidades para enseñar y comunicarme, ya que me encargaba de capacitar a los nuevos.",
        "Aprendí a tomar decisiones bajo presión, porque muchas veces dependían de mí para resolver imprevistos o ajustar plazos.",
        "Entendí la importancia de organizar bien los tiempos y recursos para que todo saliera bien y sin atrasos.",
        "Aprendí a diseñar con creatividad y funcionalidad, ya que hacía muebles a medida según las necesidades de cada cliente.",
        "Gané confianza en mí mismo porque mi jefe confiaba plenamente en mi criterio y capacidad para manejar todo el taller."
      ]
    }
  ]
---

<TitleSection client:load>
  Experiencia en otro rubro
</TitleSection>

<div>
  {experiences.map( experience => (
    <article class="space-y-2">
      <h2 class="font-semibold text-3xl text-white">
        {experience.job} en <span class="text-fuchsia-600">{experience.plate}</span>
      </h2>
      <p class="text-md text-white ">{experience.description}</p>
      <div>
        <ul class="space-y-1 list-disc pl-6">
          {experience.learnings.map( learn => (
            <li class=" text-sm text-pretty font-light text-white/95">{learn}</li>
          ))}
        </ul>
      </div>
    </article>
  ) )}
</div>

