---
import Presentation from './Presentation.astro'
import Projects from './Projects.astro'
import Experience from './Experience.astro'
import Contact from './Contact.jsx'
import TitleSection from './TitleSection.astro'
---

<div class="w-full lg:w-2/3 2xl:w-4/7 py-[2.5vh] md:py-[5vh]">
  <section class="section reveal">
    <Presentation />
  </section>

  <section id="projects" class="section reveal min-h-screen">
    <TitleSection>Proyectos</TitleSection>
    <Projects />
  </section>

  <section
    id="experience"
    class="section reveal min-h-screen flex flex-col justify-center md:gap-10"
  >
    <TitleSection>Experiencia en otro rubro</TitleSection>
    <Experience />
  </section>

  <section id="contact" class="section reveal">
    <TitleSection>Contacto</TitleSection>
    <Contact client:visible />
  </section>
</div>
