---
import ContactButton from '@/components/ContactButton.astro'
import NavIcons from '@/components/PrincipalCard/NavIcons.astro'

interface Props {
  url: string
  hidden: boolean
}

const { url, hidden } = Astro.props
---

<main class={`${hidden ? 'hidden lg:flex' : 'flex'} main-card-container`}>
  <header
    class="relative mx-8 md:mx-12 lg:mx-10 rounded-xl 2xl:rounded-2xl w-auto h-full overflow-hidden"
  >
    <img
      class="object-cover w-full h-auto rounded-xl"
      src="/perfil.webp"
      alt="Foto de Franco Montechiani"
    />
    <div
      class="absolute inset-0 rounded-xl pointer-events-none
              bg-[radial-gradient(circle_at_center,transparent_30%,rgba(0,0,0,.4)_100%)] z-50"
    >
    </div>
  </header>

  <div
    class="lg:w-auto w-full h-auto flex flex-col text-center gap-6 lg:gap-4 2xl:gap-10"
  >
    <h1 class="text-6xl lg:text-4xl 2xl:text-c-5xl font-bold">
      Franco Montechiani
    </h1>
    <div
      class="font-extralight text-xl md:text-2xl lg:text-lg 2xl:text-3xl space-y-1"
    >
      <h2>Desarrollador Web FullStack</h2>
      <p>Rosario, <span class="text-sky-200">Argentina</span></p>
    </div>

    <NavIcons />

    <ContactButton url={url} class="w-full lg:mx-auto lg:w-max px-12 lg:px-0" />
  </div>

  <div
    class="absolute inset-0 rounded-xl pointer-events-none
              bg-[radial-gradient(circle_at_center,transparent_70%,rgba(0,0,0,0.1)_100%)]"
  >
  </div>
</main>
