<header
  class="relative mx-8 md:mx-12 lg:mx-10 rounded-xl 2xl:rounded-2xl w-auto h-auto overflow-hidden"
>
  <img
    class="object-cover w-full h-auto rounded-xl"
    src="/perfil.webp"
    alt="Foto de Franco Montechiani"
  />
  <div
    class="absolute inset-0 rounded-xl pointer-events-none
              bg-[radial-gradient(circle_at_center,transparent_30%,rgba(0,0,0,.4)_100%)] z-50"
  >
  </div>
</header>
