---
import DisplayTag from '@/components/ui/DisplayTag'
import CurriculumIcon from '@/components/Icons/Curriculum.astro'
import GitHubIcon from '@/assets/icons/github.svg'
import LinkedInIcon from '@/assets/icons/linkedin.svg'
import CircleLink from '@/components/PrincipalCard/CircleLink.astro'

interface Props {
  tUi: {
    'linked-in': string
    github: string
    resume: string
  }
}

const { tUi } = Astro.props
---

<nav class="flex items-center justify-center gap-4 2xl:gap-8">
  <CircleLink
    className="bg-white"
    href="https://www.linkedin.com/in/franco-montechiani-a4b343354/"
  >
    <LinkedInIcon
      class="size-8 md:size-10 lg:size-6 laptop:size-9 2xl:size-12 overflow-hidden"
    />
    <DisplayTag client:load text={tUi['linked-in']} ubication="-top-7" />
  </CircleLink>

  <CircleLink className="bg-gray-950" href="https://github.com/EdenBlood">
    <GitHubIcon
      class="size-8 md:size-10 lg:size-6 laptop:size-9 2xl:size-12 overflow-hidden"
    />
    <DisplayTag client:load text={tUi['github']} ubication="-top-7" />
  </CircleLink>

  <CircleLink
    href="https://drive.google.com/file/d/1NS2SMBzjOrvC50bErn3hYRS8LozX9CN-/view?usp=drive_link"
    className="bg-blue-900"
  >
    <CurriculumIcon
      class="size-8 md:size-10 lg:size-6 laptop:size-9 2xl:size-12 overflow-hidden"
    />
    <DisplayTag client:load text={tUi['resume']} ubication="-top-7" />
  </CircleLink>
</nav>
