---
import DisplayTag from './DisplayTag'

interface Props {
  text: string
  svg: string
  className?: string
}

const { text, svg, className } = Astro.props
---

<div class="slide relative group w-fit">
  <DisplayTag text={text} ubication="-top-5" />
  <img
    src={svg}
    alt={text}
    class={`${className} size-16 md:size-24 lg:size-16 2xl:size-24 `}
  />
</div>
